*{
    margin:0px;
    padding:0px;
}
html,
body{
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(135deg,
        #FC6DAB 0%,
        #D95CF6 50%,
        #8B5CF6 100%);
}
h1{
    text-align: center;
    color:beige;
}
.boxes{
    display:flex;
    justify-content: center;
    align-items: center;
    width:50vmin;
    flex-wrap: wrap;
    gap:1rem;
}
.box{
    background: linear-gradient(145deg, #8A2BE2, #5A189A);
    text-shadow: 0 0 10px rgba(255,255,255,0.4);
    height:12vmin;
    width:12vmin;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    font-size: 3rem;
    color:beige;
    border:none;
    cursor: pointer;
}
.bxd{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
.box:hover{
    transform: scale(1.05);
    opacity:0.8;
    box-shadow:
        0 0 12px rgba(192,76,253,0.6),
        0 0 25px rgba(252,109,171,0.4);
}
#rstbtn{
    background-color:#5E2BFF;
    color:#F7F6C5;
    height:2rem;
    font-size:1rem;
    padding:0.5rem;
    border-radius:0.4rem;
    margin-top:5rem;
}
.msg-container{
    height:100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:4rem;
}
.hide{
    display: none;
}
#newbtn{
    background-color:#5E2BFF;
    color:#F7F6C5;
    height:2rem;
    font-size:1rem;
    padding:0.5rem;
    border-radius:0.4rem;
}
#msg{
    color:beige;
    font-size: 8vmin;
}

@media(max-width:650px){
    .box{
        height:12vmin;
        width:12vmin;
    }
}
.btn-container{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
